.rootWrapper {
  margin: 80px 110px 32px 96px;
  display: flex;
  justify-content: space-between;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  padding: 5px;
}

.buttonWrapperError {
  display: flex;
  align-items: center;
  padding: 5px;
}

.plus {
  color: #346BD1;
  border-radius: 55px;
  background: white;
  font-size: 25px;
  width: 61px;
  padding: 18px 14px;
}

.cross {
  color: #346BD1;
  padding: 9px;
  border-radius: 55px;
  background: white;
  font-size: 25px;
  width: 61px;
}

.newBtn {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  padding: 17px 30px 17px 16px;
}

.newBtn:focus {
  outline: none;
}

.contentSuccess {
  border-radius: 16px !important;
  background: #346BD1 !important;
}

.contentError {
  border-radius: 16px !important;
  background: #E04C66 !important;
}

.modal {
  width: 403px !important;
  margin-bottom: 0px;
  position: absolute !important;
  bottom: 2% !important;
  right: 39% !important;
}

.messageText {
  color: #FFFFFF;
  font-size: 22px;
  margin-left: 35px;
}

.messageTitle {
  color: #B1CDFF;
  font-size: 16px;
  margin-left: 35px;
}

.messageTitleError {
  color: #FFC8D1;
  font-size: 16px;
  margin-left: 35px;
}

.plusWrapper{
  margin-left: 10px;
}

.modalBody { 
  background: #346BD1;
  border-radius: 16px;
 }

 .modalBodyError { 
  background: #E04C66;
  border-radius: 16px;
 }
 