.dots:after {
  content: "\2807";
  font-size: 22px;
}

.dots {
  cursor: pointer;
}

.item {
  display: flex;
  width: 180px;
  cursor: pointer;

  > img {
    margin-left: 28px;
  }
}

.label {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #dae2ef;
  margin-left: 5px;
  padding: 24px 0 24px 10px;
}

.itemGroup {
  background: #263857;
  box-shadow: 0px 25px 70px rgba(53, 69, 98, 0.15),
    0px 20px 50px rgba(53, 69, 98, 0.15);
  backdrop-filter: blur(144px);
  border-radius: 12px;
  position: absolute;
  margin-left: -165px;
  margin-top: -28px;
  z-index: 2;
}

.item:not(:last-child) {
  border-bottom: 1px solid #3c4e6f;
}
