.rootWrapper {
  margin: 80px 110px 32px 96px;
  display: flex;
  justify-content: space-between;
}

.buttonWrapper {
  background: #346bd1;
  border-radius: 50px;
  margin-top: 48px;
  display: flex;
  align-items: center;
  width: 192px;
  cursor: pointer;
}

.plus {
  color: #346bd1;
  padding: 0px 11px;
  border-radius: 50px;
  background: white;
  font-size: 25px;
  margin: 10px;
}
.newBtn {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  padding: 17px 30px 17px 16px;
}

.newBtn:focus {
  outline: none;
}

.titleWarpper {
  font: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #8494b1;
}

.headingWrapper {
  font-weight: 700;
  font-size: 41px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  color: #263857;
  margin-top: 4px;
}

.rootWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 165px;
  top: 32%;
  left: 42%;
  color: #263857;
}

.plusIcon {
  padding-bottom: 3px;
  vertical-align: middle;
}
