.circle {
  border-radius: 33px;
  height: 16px;
  width: 16px;
}

.optionWrapper {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.label {
  margin-left: 16px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #dae2ef;
}
