.form-input {
  z-index: 2;
  background: transparent;
  border: 1px solid #e1e7f2;
  width: 100%;
}

.form-input:focus {
  border-bottom: 1px solid #346bd1 !important;
  outline: none;
}

.form-field {
  bottom: -52px;
  position: relative;
}

.form-field:hover {
  > .form-input {
    border-bottom: 1px solid #8494b1;
  }
}

.form-input:active + .form-label {
  color: #346bd1;
}

.form-input:focus + .form-label {
  color: #346bd1;
}

.form-label {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #7e98ba;
  top: -62px;
}

.form-input + .form-label {
  position: relative;
  transition: transform 0.05s;
  display: inline-block;
}

.form-input:not([value=""]) + .form-label {
  > .form-label {
    color: #263857 !important;
  }
  left: -7px;
  position: relative;
  transform: translateY(-30px) scale(0.72);
}
