.scrollbar {
  ::-webkit-scrollbar {
    width: 4px;
    height: 50px;
  }
  ::-webkit-scrollbar-track {
    opacity: 0;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #7e98ba;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7e98ba;
    border-radius: 2px;
  }
}

.feedbackForm {
  position: absolute;
  top: 53px;
  font-size: 10px;
  color: #dc3545;
}

.titleFeedback {
  position: absolute;
  top: 83px;
  font-size: 10px;
  color: #dc3545;
}