.select {
  background: transparent;
  border: 1px solid #e8ecf2;
  border-radius: 12px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #263857;
  padding: 16px 80px 16px 24px;
  outline: none;
  cursor: pointer;
}
