body {
  margin: 0;
  font-family: Montserrat, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tab-pane.active {
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-timing-function: linear;
}
.pac-container {
  z-index: 999999999;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #7e98ba !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7e98ba !important;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7e98ba !important;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7e98ba !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #7e98ba !important;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #7e98ba !important;
}
.pac-container {
  z-index: 999999999;
  font-feature-settings: "tnum" on, "lnum" on;
  background: #142a51;
  box-shadow: 0px 25px 70px rgba(85, 141, 245, 0.15),
    0px 20px 50px rgba(53, 69, 98, 0.15);
  backdrop-filter: blur(144px);
  border-radius: 12px;
}

.pac-icon {
  display: none;
}

.pac-item:hover {
  background: #1f3764;
  cursor: pointer;
}

.pac-item {
  padding: 16px 24px;
  border: none;
  border: 1px solid #25406d;
  font-size: 13px;
}

.pac-container > * > * {
  color: #dae2ef !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
}

.pac-matched {
  color: #dae2ef;
}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}
